.agregar-script-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    height: 100%;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}