<div class="estrategia-dialog-container">
  <div>
    <div class="estrategia-header-container">
      <mat-icon (click)="close()" class="clickable-icon">clear</mat-icon>
    </div>
    <div class="estrategia-body-container">
      <div *ngIf="!show" class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <form class="ng-untouched ng-pristine ng-valid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-name">Nombre Estrategía *</label>
                    <input type="text" id="input-name" name="input-name" class="form-control form-control-alternative" [(ngModel)]="nombreEstartegia" (keyup)="verificarContenido1()">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="app">Aplicación</label>
                    <select class="form-control form-control-alternative" id="app" [(ngModel)]="selectedApp" name="app"
                      required (ngModelChange)="verificarContenido1();llenarVersionesYherramientas()">
                      <option value="" [selected]=true [disabled]="true">Selecciona una aplicación</option>
                      <option *ngFor="let app of apps" [value]="app.id_aplicacion">{{app.nombre}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="version">Versión</label>
                    <select class="form-control form-control-alternative" id="version" [(ngModel)]="selectedVersion" name="version" [disabled]="selectedApp == ''"
                    required (ngModelChange)="verificarContenido1()">
                      <option value="" [selected]=true [disabled]="true">Selecciona una version</option>
                      <option *ngFor="let version of versions" [value]="version.id_version">{{version.version}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Tipo(s) de prueba</label>
                    <div *ngFor="let type of testTypes" class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="{{type.id_tipo_prueba_herramienta}}" type="checkbox" value="type" [(ngModel)]="type.isTestSelected" name="type" (change)="setTypesChecked(type)">
                      <label class="custom-control-label" for="{{type.id_tipo_prueba_herramienta}}">{{type.tipo_prueba}}</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Herramienta(s)</label>
                    <div *ngFor="let tool of tools" class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="{{tool}}" type="checkbox" value="tool" name="tool" (change)="setToolsChecked(tool)">
                      <label class="custom-control-label" for="{{tool}}">{{tool}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="btns-container">
                  <button *ngIf="contenido1Valido" type="button" class="btn btn-default" (click)="openSections()">Siguiente</button>
                  <button *ngIf="!contenido1Valido" type="button" class="btn btn-default" disabled>Siguiente</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div *ngIf="show" class="row">
        <div class="card shadow mb-5" *ngFor="let section of sections">
          <div class="card-header border-0 d-flex justify-content-between">
            <h3 class="mb-0">{{section.text}}</h3>
            <button class="btn btn-danger">Eliminar</button>
          </div>
          <div>

            <!--Tabla -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Script</th>
                    <th scope="col">Cant. ejecuciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let script of section.scripts; let i = index">
                    <td>
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="{{i}}" type="checkbox" value="script" (change)="setScriptsChecked(script)">
                        <label class="custom-control-label" for="{{i}}"></label>
                      </div>
                    </td>
                    <th scope="row">
                      {{script.descripcion}}
                    </th>
                    <th scope="row">
                      <input type="number" [value]="script.cant_ejecuciones">
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="align-self-end mt-2 mr-6 ml-auto">
              <button type="button" class="btn btn-default btn-sm" (click)="openScriptModal()">Agregar script</button>
            </div>
            <div class="container mt-7 ml-3 mb-5">
              <div class="custom-control custom-radio mb-3 col-lg-2">
                <input name="custom-radio-2" class="custom-control-input" id="headful" value="Headful" type="radio" checked="" (change)="seleccionarTipo($event)">
                <label class="custom-control-label" for="headful">Headful</label>
              </div>
              <div class="custom-control custom-radio mb-3 col-lg-2">
                <input name="custom-radio-2" class="custom-control-input" id="headless" value="Headless" type="radio" (change)="seleccionarTipo($event)">
                <label class="custom-control-label" for="headless">Headless</label>
              </div>
            </div>

            <!--Matriz -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col" *ngFor="let resolucion of resoluciones">{{resolucion}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let navegador of navegadores; index as j">
                    <th scope="row">
                      {{navegador}}
                    </th>
                    <td>
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="{{j}}.1" type="checkbox" value="navegador" (change)="setNavegador1(section,navegador,0)">
                        <label class="custom-control-label" for="{{j}}.1"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox mb-3">
                        <input class="custom-control-input" id="{{j}}.2" type="checkbox" value="navegador" (change)="setNavegador1(section,navegador,1)">
                        <label class="custom-control-label" for="{{j}}.2"></label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="container">
          <button type="button" class="btn btn-default btn-lg btn-block" (click)="guardarPrueba()">Lanzar pruebas</button>
        </div>
      </div>
    </div>
  </div>
</div>
