.estrategia-dialog-container {
    background-color: #f8f9fe;
    width: 100%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.estrategia-header-container {
    width: 100%;
    text-align: end;
}

.estrategia-body-container {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.card {
    min-height: 50%;
    padding: 3.5%;
    width: 100%;
}

.row {
    width: 100%;
    min-height: 50%;
}

.btns-container {
    width: 94%;
    text-align: end;
}

.clickable-icon {
    cursor: pointer;
}

.clickable-icon:hover {
    color: #f56036;
}