<div class="header bg-gradient-danger pb-8 pt-3 pt-md-3">
  <div class="container-fluid">
    <div class="header-body">
      <!-- button -->
      <div class="row d-flex justify-content-end my-5 pr-2">
        <button class="btn btn-secondary create-btn" (click)="openDialog()">
          <mat-icon id="create-icon">add</mat-icon> <span>Crear estrategia</span> 
        </button>
      </div>

      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-6 col-lg-6 mt-3">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Estrategías de prueba pendientes</h5>
                  <span class="h2 font-weight-bold mb-0">{{estadisticas.pendientes}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <mat-icon id="create-icon">hourglass_empty</mat-icon>
                  </div>
                </div>
              </div>
              <p _ngcontent-c6="" class="mt-3 mb-0 percentage-txt">
                <span _ngcontent-c6="" *ngIf="estadisticas.totales > 0 ">{{(estadisticas.pendientes/estadisticas.totales) * 100}}%</span>
                <span _ngcontent-c6="" *ngIf="estadisticas.totales <= 0 ">0 %</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-3">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Estrategias de prueba en progreso</h5>
                  <span class="h2 font-weight-bold mb-0">{{estadisticas.enCola + estadisticas.enEjecucion}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <mat-icon>autorenew</mat-icon>
                  </div>
                </div>
              </div>
              <p _ngcontent-c6="" class="mt-3 mb-0 percentage-txt">
                <span _ngcontent-c6="" *ngIf="estadisticas.totales > 0">{{(estadisticas.enCola + estadisticas.enEjecucion)/estadisticas.totales}}%</span>
                <span _ngcontent-c6="" *ngIf="estadisticas.totales <= 0">0 %</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-3">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Estrategias de pruebas exitosas</h5>
                  <span class="h2 font-weight-bold mb-0">{{estadisticas.satisfactorias}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                    <mat-icon id="create-icon">check</mat-icon>
                  </div>
                </div>
              </div>
              <p _ngcontent-c6="" class="mt-3 mb-0 percentage-txt">
                <span _ngcontent-c6="" *ngIf="estadisticas.totales > 0">{{estadisticas.satisfactorias/estadisticas.totales}}%</span>
                <span _ngcontent-c6="" *ngIf="estadisticas.totales <= 0">0 %</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 mt-3">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Estrategias de pruebas fallidas</h5>
                  <span class="h2 font-weight-bold mb-0">{{estadisticas.fallidas}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <mat-icon id="create-icon">clear</mat-icon>
                  </div>
                </div>
              </div>
              <p _ngcontent-c6="" class="mt-3 mb-0 percentage-txt">
                <span _ngcontent-c6="" *ngIf="estadisticas.totales > 0">{{estadisticas.fallidas/estadisticas.totales}}%</span>
                <span _ngcontent-c6="" *ngIf="estadisticas.totales <= 0">0 %</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <input class="form-control w-50 mx-2 modified-input" type="text" placeholder="Buscar"/>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Estrategias de prueba</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estrategiaGeneral of estrategiasGenerales">
                <th scope="row">
                  {{estrategiaGeneral.descripcion}}
                </th>
                <td>
                  <div class="d-flex align-items-center">
                      <span *ngIf="estrategiaGeneral.estado">{{estrategiaGeneral.estado}}</span>
                      <span *ngIf="!estrategiaGeneral.estado">pendiente</span>
                  </div>
                </td>
                <td>
                  <a class="btn btn-default btn-sm" [routerLink]="['/resumen', estrategiaGeneral.id_estrategia]">Ver detalle</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
